site_name: Degree Calculation using Greedy Optimisation Algorithm
site_description: Automated degree classification system using a greedy optimisation algorithm
site_author: Ridesha Khadka
site_url: https://github.com/rk833/Degree-Calculation-using-Greedy-Optimisation-Algorithm.git

theme:
  name: material
  language: en

  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

  palette:
    - scheme: default
      primary: indigo
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - scheme: slate
      primary: indigo
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to light mode


plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src", "."]
          options:
            show_source: true
            show_root_heading: false
            show_root_full_path: false
            separate_signature: true

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.details
  - attr_list
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Degree Calculator: degree_calculator.md
  - Module: module.md
  - Student: student.md
  - Data Handling: handle_data.md
  - Main: main.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/rk833/Degree-Calculation-using-Greedy-Optimisation-Algorithm.git

extra_css:
  - styles/extra.css